!!!strict

%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us")
%head>
    %meta(http-equiv="content-type" content="text/html; charset=utf-8")
    %title="ZFS"
    %meta(name="author" content="Robert W Boyer")
   
    %link(rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection")

    %link(rel="stylesheet" href="/css/lightbox.css" type="text/css" media="screen")
    %link(rel="alternate" type="application/atom+xml" title="ATOM feed for RB Design" href="/atom.xml")

    %script(type="text/javascript" src="http://use.typekit.com/tdf8txi.js")
    %script(type="text/javascript") 
    :javascript
            try{Typekit.load();}catch(e){}
       
    %script(type="text/javascript") 
    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-5733612-5']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
%body
    %header.page-header
        %a(href="/")><
            Z
            %span><
                FS

    .site
        #content= yield
  
    .footer
        .contact
            %p
                Robert W Boyer
                %br
                    Founder of 
                    %a(href="http://photo.rwboyer.com/")RB Design
                rwboyer@mac.com
