%form{:action => url, :method => 'post', :name => 'edit'}
	.postzoom
		%h2.title
			%input{:type => 'text', :name => 'title', :value => post.title}
		%p.meta
			%input{:type => 'text', :name => 'tags', :value => post.tags}
		%p.meta= post.created_at
		.entry
			%textarea{:name => 'body'}= post.body
		.edit
			%input{:type => 'submit', :value => 'Save'}
